<div style="height:60px;width:100%"></div>
<div id="totalPrice"ng-controller="PriceTableController as vm">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th rowspan="3">모델명</th>
                <th colspan="30" ng-repeat="list in vm.Model.priceSort">{{list}}</th>
            </tr> 
            <tr>  
                <th colspan="3" ng-repeat="list2 in vm.Model.companyList">{{list2}}</th> 
                <th colspan="3" ng-repeat="list2 in vm.Model.companyList">{{list2}}</th> 
                <th colspan="3" ng-repeat="list2 in vm.Model.companyList">{{list2}}</th> 
                <th colspan="3" ng-repeat="list2 in vm.Model.companyList">{{list2}}</th> 
                <th colspan="3" ng-repeat="list2 in vm.Model.companyList">{{list2}}</th> 
                <th colspan="3" ng-repeat="list2 in vm.Model.companyList">{{list2}}</th> 
                <th colspan="3" ng-repeat="list2 in vm.Model.companyList">{{list2}}</th> 
                <th colspan="3" ng-repeat="list2 in vm.Model.companyList">{{list2}}</th> 
                <th colspan="3" ng-repeat="list2 in vm.Model.companyList">{{list2}}</th> 
                <th colspan="3" ng-repeat="list2 in vm.Model.companyList">{{list2}}</th> 
            </tr>
            <tr> 
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
                <th ng-repeat="list3 in vm.Model.signList">{{list3}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-init="eachMax = vm.findMax(eachprice)" ng-repeat="eachprice in vm.pricelist">
                <td>{{eachprice.model}}</td>
                <td ng-class="{'max':each63==eachMax[0]}"ng-repeat="each63 in eachprice.ofc_63 track by $index">{{each63}}</td>
                <td ng-class="{'max':each53==eachMax[1]}"ng-repeat="each53 in eachprice.ofc_53 track by $index">{{each53}}</td>
                <td ng-class="{'max':each43==eachMax[2]}"ng-repeat="each43 in eachprice.ofc_43 track by $index">{{each43}}</td>
                <td ng-class="{'max':each33==eachMax[3]}"ng-repeat="each33 in eachprice.ofc_33 track by $index">{{each33}}</td>
                <td ng-class="{'max':each23==eachMax[4]}"ng-repeat="each23 in eachprice.ofc_23 track by $index">{{each23}}</td>
                <td ng-class="{'max':each63==eachMax[5]}"ng-repeat="each63 in eachprice.cho_63 track by $index">{{each63}}</td>
                <td ng-class="{'max':each53==eachMax[6]}"ng-repeat="each53 in eachprice.cho_53 track by $index">{{each53}}</td>
                <td ng-class="{'max':each43==eachMax[7]}"ng-repeat="each43 in eachprice.cho_43 track by $index">{{each43}}</td>
                <td ng-class="{'max':each33==eachMax[8]}"ng-repeat="each33 in eachprice.cho_33 track by $index">{{each33}}</td>
                <td ng-class="{'max':each23==eachMax[9]}"ng-repeat="each23 in eachprice.cho_23 track by $index">{{each23}}</td>
            </tr>    
        </tbody>
    </table>
</div>



<!--<section>
    <div class="row space-between">
        <div class="center bg-orange white"ui-sref="priceTable.totalprice">전체 단가표</div>
        <div class="center bg-orange white"ui-sref="priceTable.sk_ps">SK PS</div>
        <div class="center bg-orange white"ui-sref="priceTable.sk_ace">SK 에이스</div>
        <div class="center bg-orange white"ui-sref="priceTable.kt_mir">KT 미르</div>
        <div class="center bg-orange white"ui-sref="priceTable.kt_cod">KT COD</div>
        <div class="center bg-orange white"ui-sref="priceTable.kt_kwangjin">KT 광진</div>
        <div class="center bg-orange white"ui-sref="priceTable.kt_seocho">KT 서초</div>
        <div class="center bg-orange white"ui-sref="priceTable.lg_dream">LG 드림</div>
        <div class="center bg-orange white"ui-sref="priceTable.lg_sungbook">LG 성북</div>
        <div class="center bg-orange white"ui-sref="priceTable.lg_kwangjin">LG 광진</div>
        <div class="center bg-orange white"ui-sref="priceTable.lg_seocho">LG 서초</div>
    </div>
</section>
<div ui-view><div>

-->
