<html>
<head>
    <title>User Login and Sessions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, target-densitydpi=medium-dpi">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body>
    <div class="popup_wrap">
        <div class="dim"></div>
        <div class="popup">	
            <form method="POST">
                <label class="label">Username</label>
                <br>
                <input class="inputBox" type="text" name="username">
                <br>
                <label class="label">Password</label>
                <br>
                <input class="inputBox" type="password" name="password">
                <br>
                <input class="submitBox" type="submit" value="Login">
            </form>
        </div>
    </div>
</body>

</html>