<div style="padding-top:60px;" ng-controller="MainPageController">
    <div class="p2p">
        <div class="row space-between align-items-center">
            <!--<div class="col center align-items-center mainButton text-align-center bg-orange" ui-sref="CustomerCreate">
                고객등록
            </div>
            <div class="col center align-items-center mainButton text-align-center bg-orange" ui-sref="customerList">
                고객목록
            </div>
            <div class="col center align-items-center mainButton text-align-center bg-blue" ui-sref="caseOrder">
                케이스 주문하기
            </div>
            <div class="col center align-items-center mainButton text-align-center bg-blue" ui-sref="orderList">
                케이스 주문현황
            </div>     -->
            <div class="col center align-items-center mainButton text-align-center bg-green" ui-sref="priceTable">
                단가표 확인하기
            </div>           
            <div class="col center align-items-center mainButton text-align-center bg-green" ng-click="goToFindPrice()">
                단가표 등록하기
            </div>           
            <!--<div class="col"><a ui-sref="findDevice">빠른기기찾기</a></div>-->
        </div>
    </div>
    <!--<div class="mainNotify">
        <h2>알림</h2>
        <table class="table table-bordered table-hover">
            <thead>
                <th>고객명</th>
                <th>번호</th>
                <th>내용</th>
                <th>날짜</th>
                <th>지난날짜</th>
                <th>확인</th>
            </thead>
            <tbody ng-repeat="al in ale">
                <td>{{al.customername}}</td>
                <td>{{al.phonenum}}</td>
                <td>{{al.content}}</td>
                <td>{{al.occurdate}}</td>
                <td>{{al.datecount}}</td>
                <td ng-click="alertComplete($index)">완료</td>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>-->
</div>